<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Departmental Store</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>

<body>



<div class="topbar">

    <div class="dropdown profile">

    <span class="username">
        Welcome, {{ session.get('username') }}
    </span>

    <button class="profile-icon border-0"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">

        <i class="bi bi-gear-fill"></i>

    </button>

    <ul class="dropdown-menu dropdown-menu-end shadow">

        <li class="dropdown-header">
            <small>{{ session.get('email') }}</small>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li>
            <a class="dropdown-item" href="{{ url_for('change_password') }}">
                <i class="bi bi-lock"></i>
                Change Password
            </a>
        </li>

        <li>
            <a class="dropdown-item" href="{{ url_for('change_email') }}">
                <i class="bi bi-envelope"></i>
                Change Email
            </a>
        </li>

        <li>
            <a class="dropdown-item" href="{{ url_for('delete_account') }}"
            onclick="return confirm('Are you sure you want to permanently delete your account? This action cannot be undone.')">
                <i class="bi bi-trash-fill"></i>
                Delete Account
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li>
            <a class="dropdown-item text-danger"
               href="{{ url_for('logout') }}">
                <i class="bi bi-box-arrow-right"></i>
                Logout
            </a>
        </li>

    </ul>

</div>

</div>


<div class="content">

{% block content %}
{% endblock %}

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>